

body {
  background-image: url('./lightbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.card {
  width: 90%;
  max-width: 410px;
  height: 500px;
  border: none;
  border-radius: 10px;
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
  margin: 0 auto; /* To center the card on smaller screens */
}



/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 1rem;

}

.navbar #toggle_checkbox {
  display: none;
}

.navbar label {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: auto; /* Push the toggle component to the left */
  cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Russo+One&display=swap');

/* Other styles for your components */
.styled_container {
  font-family: 'Crimson Pro', serif;
  font-size: 48px;
  font-weight: bold;
}

/* Button styles */
.button {
  border-radius: 4px;
  background-color: #00ab0e; /* Set your button color */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px; /* Adjust your font size */
  padding: 10px; /* Adjust your padding */
  width: 120px; /* Adjust your width */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:disabled {
  background-color: #6c757d; /* Adjust the color for disabled state */
  cursor: not-allowed;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\1F8A7';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
   /* Adjust the padding-right for the hover effect */
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.butt {
  border-radius: 4px;
  background-color: #ff0000; /* Set your button color */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px; /* Adjust your font size */
  padding: 10px; /* Adjust your padding */
  width: 120px; /* Adjust your width */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\1F8A6'; /* Unicode character for a left-pointing single angle quotation mark */
  position: absolute;
  opacity: 0;
  top: 0;
  left: -55px; /* Adjusted to be on the left side */
  transition: 0.5s;
}

.butt:hover span {
  padding-left: 25px; /* Adjust the padding-right for the hover effect */
}

.butt:hover span:after {
  opacity: 1;
  left: 0;
}

.butt:disabled {
  background-color: #6c757d; /* Adjust the color for disabled state */
  cursor: not-allowed;
}
/* Nav link styles */
.nav-link {
  color: #fff;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00fffc;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.nav-link::before {
  top: -3px;
  transform-origin: left;
}

.nav-link::after {
  bottom: -3px;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

/* Add this style to indicate active state */
.nav-link:active,
.nav-link:focus,
.nav-link.active {
  color: #00fffc;
}

/* Add this style to underline the active state */
.nav-link.active::before,
.nav-link.active::after {
  transform: scaleX(1);
}


/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 9px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}



.loader-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 70px;
  height: 70px;
  position: relative;
}

.loader:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #007bff;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1s ease-in-out infinite;
}

.loader:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #007bff;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
}

.loader-text {
  font-size: 24px;
  margin-top: 20px;
  color: #007bff;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.6);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none;
}

.loaded .loader-container {
  display: none;
}

.loaded .content {
  display: block;
}

/* Mobile-specific styles */
@media (max-width: 700px) {
  .mobile-toggle {
    /* Adjust the positioning for mobile view */
    /* Add your styles to move it to the right side or as needed */
    float: right; /* or any other style to move it to the right */
  }
}
